@inject IHttpContextAccessor HttpContextAccessor;
@{
   string username= HttpContextAccessor.HttpContext.Session.GetString("username");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AppEcommerce</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
   <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pricing.css" asp-append-version="true" />
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/pricing/">
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sign-in.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/checkout.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
     
               @if(username==null)
               {
                <a class="me-3 py-2 link-body-emphasis text-decoration-none" asp-action="Login" asp-controller="Autentica"><i class="fas fa-user"></i> Login</a>
                    <a class="me-3 py-2 link-body-emphasis text-decoration-none" asp-action="Registra" asp-controller="Autentica"><i class="fas fa-user"></i> Registra</a>
                }
                else
                {
                    <a class="me-3 py-2 link-body-emphasis text-decoration-none" asp-action="Index" asp-controller="Ordini">Check out</a>
                    <a class="me-3 py-2 link-body-emphasis text-decoration-none" asp-action="Logout" asp-controller="Autentica"><i class="fas fa-user"></i> @username</a>
                }
           
        <header class="p-3 mb-3 border-bottom">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                    </a>

                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a class="nav-link px-2 link-secondary" asp-action="Index" asp-controller="Home">Prodotti</a></li>
                    <li><a class="nav-link px-2 link-body-emphasis" asp-action="Carrello" asp-controller="Ordini">Carrello</a></li>
                    @if (username == null)
                    {
                        <li><a class="nav-link px-2 link-body-emphasis" asp-action="Login" asp-controller="Autentica">Login</a></li>
                        <li><a class="nav-link px-2 link-body-emphasis" asp-action="Registra" asp-controller="Autentica">Registra</a></li>
                    }
                </ul>

                    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                    </form>
                @if (username != null)
                {
                    <div class="dropdown text-end">
                        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                           <!-- <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">-->
                            <i class="fas fa-user"></i>  My Account
                        </a>
                        <ul class="dropdown-menu text-small">
                            <li><a class="dropdown-item" asp-action="Index" asp-controller="Ordini">Check out</a></li>
                            <li><a class="dropdown-item" asp-action="DisplayOrders" asp-controller="Ordini">Ordini (@ViewData["ContaOrdini"])</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" asp-action="Logout" asp-controller="Autentica">Logout</a></li>
                        </ul>
                    </div>
                }
                else
                {
                    <div class="dropdown text-end">
                        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                           <!-- <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle"> -->
                            <i class="fas fa-user"></i>  My Account
                        </a>
                        <ul class="dropdown-menu text-small">
                          
                      
                            <li><a class="dropdown-item" asp-action="Login" asp-controller="Autentica">Login</a></li>
                            <li><a class="dropdown-item" asp-action="Registra" asp-controller="Autentica">Registra</a></li>
                         
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item">Non Loggato</a></li>
                        </ul>
                    </div>
                }
            </div>
            </div>
        </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <img class="mb-2" src="~/assets/bootstrap-logo.svg" alt="" width="24" height="19">
                <small class="d-block mb-3 text-body-secondary">© 2017–2024</small>
            </div>
            <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Cool stuff</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Random feature</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team feature</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Stuff for developers</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another one</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Last time</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource name</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another resource</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Final resource</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Locations</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Terms</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
