<div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
    <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (dark)">
        <svg class="bi my-1 theme-icon-active" width="1em" height="1em"><use href="#moon-stars-fill"></use></svg>
        <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
                <svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="#sun-fill"></use></svg>
                Light
                <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="dark" aria-pressed="true">
                <svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="#moon-stars-fill"></use></svg>
                Dark
                <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto" aria-pressed="false">
                <svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="#circle-half"></use></svg>
                Auto
                <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
            </button>
        </li>
    </ul>
</div>


<main class="form-signin w-100 m-auto">
    <form action="javascript:void(0)" id="form_registra">
        <img class="mb-4" src="~/assets/bootstrap-logo.svg" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Registrati</h1>

        
        <div class="form-floating">
            <input type="text" class="form-control" id="username" required placeholder="Inserire la username">
            <label >Username</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="nome" required placeholder="Inserire il nome">
            <label >Nome</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="cognome" required placeholder="Inserire il cognome">
            <label >Cognome</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="indirizzo" required placeholder="Inserire l'indirizzo">
            <label>Cognome</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="pwd" placeholder="Inserire la password" required>
            <label >Password</label>
        </div>

        <div class="form-check text-start my-3">
            <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Remember me
            </label>
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit">Registra</button>
        <p class="mt-5 mb-3 text-body-secondary">© 2017–2024</p>
    </form>
</main>
@section Scripts {

    <script src="~/js/crypto-js/crypto-js.js"></script>
    <script src="~/js/registra.js"></script>
 
}
<!-- </body> -->